*{
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
[class*="col-"]{
  float: left;
  padding: 5px;
  border: 1px solid black;
  min-height: 50px;
  height: 100%;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.fila{
  min-height: 50px;
  height: 100%;
}
.fila-media{
  height: 50%;
}
.nopadding{
  padding: 0px;
}
.contenedor{
  width: 70%;
  height: 80%;
  margin: 60px auto;
  border: 3px solid red;
  padding: 10px;
}
.logo{
  height: 150px;
}
.navegacion{
  height: 150px;
}
.contenido{
  height: 500px;
  background-color: yellow;
}
.main{
  margin: 10px 0;
}
.menu-izq{
  height: 250px;
}
